*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
     box-sizing: border-box;

}
html {
    scroll-behavior: smooth;
}



.hero{

background: #1d2026;
min-height: 100vh;
width: 100%;
color: #fff;
position: relative;
padding-top: 100px;

}

nav{
    display: flex;
    align-items: center;
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Ensure it appears above other content */
    }
   
  
 
    
    nav .logo{
    width: 180px;
    cursor: pointer;
    margin: 20px;
    
    }
    nav ul{
        flex: 1;
        text-align: right;
        list-style-type: none;
        margin: 20px;
       
        }
        
        nav ul li{
        display: inline-block;
        list-style: none;
        margin: 0 20px;
        }
        
       

        nav ul li a {
            text-decoration: none;
            color: #fff;
            position: relative;
        }
        
        nav ul li a::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: green;
            transform: scaleX(0);
            transition: transform 0.3s ease;
            
        }
        
        nav ul li a:hover::after {
            transform: scaleX(1);
        }
        nav ul li a:hover {
            color: #9c9999;
        }
        button{
            background: #efefef;
            height: 30px;
            width: 60px;
            border-radius: 20px;          
            border: 0;         
            outline: 0;    
            cursor: pointer;
            transition: background 0.5s;
            margin: 20px;
            }
            
            button span{  
            display: block;
            background: #999;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            margin-left: 2px;
            transition: background 0.5s, margin-left 0.5s;
            }
  .lamp-container{
                position: absolute;
                top: -20px;               
                left: 22%;               
                width: 200px;               
                }
                
     .lamp{              
                width: 100%;              
       }
         .light{
         position: absolute;                  
         top: 99%;                 
         left: 50%;                 
         transform: translateX(-50%);              
         width: 700px;               
         margin-left: -10px;    
         opacity: 0;    
         transition: opacity 0.5s;           
         }

    .text-container{
        max-width: 600px;                    
        margin-top: 7%;                      
         margin-left: 50%;                     
           }
                        
        .text-container h1{                     
        font-size: 80px;                    
        font-weight: 400;                      
         }
        
        .text-container a{
     text-decoration: none;
        background: #00986f;
        padding: 14px 40px;
        display: inline-block;
        color: #fff;
        font-size: 18px;
        margin-top: 30px;
        border-radius: 30px;
        }
        
                .active{ 
                    background: green;
                }
                
                .active span{  
                background: #fff;
                margin-left: 31px;
                
                }

           .on{
            opacity: 1;
           }     

           .inspiration{
            width: 60%;
            margin: 0 auto; 
            margin-top: 150px;

           }
          
           .main{
            margin-bottom: 50px;
           }
           .carousel-img {
            height: 400px; 
            object-fit: cover; /* Ensure the image fills the space without distortion */
        }
        h2{
            font-size: 50px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: auto; 
            margin-bottom: 10px;
            text-align: center;
        }


        /*styles*/
        .styles{
            margin-top: 100px;
        }
        
          .cont{
            height: auto;
            margin-top: 30px;
            background-color: #00986f;
            border-radius: 10px;
            width: auto;
            border-color: #ffffffbe;
            margin-right: 9px;
            color: #ffffff;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          .cont:hover{
            background-color: #e1e8e6;
            border-color: #00986f;
           box-shadow: #fff;
           color: #282e3c;
          }
          .content{
            text-align: center;
            margin-top: 30px;
            margin-left: 140px;

          }
          .butns{
            text-align: center;
          }
          .container{
            width: 80%;
          }
          .lamps {
            margin-right: 10px;
            height: 240px;
            opacity: 0; /* Initially set opacity to 0 */
            transition: opacity 0.5s ease; /* Add transition */
          }
          .lamps.show {
            opacity: 1;
          }

          /*trendy*/
          .trend{
            margin-top: 100px;
          }
          .gallery{
            width: 900px;   
            display: flex; 
            overflow-x: scroll;  
            }
            
            .gallery div{   
            width: 100%; 
            display: grid; 
            grid-template-columns: auto auto auto; 
            grid-gap: 20px; 
            padding: 10px; 
            flex: none; 
            }
            
            .gallery div img{
            width: 100%;
            filter: grayscale(100%);
            transition: transform 0.5s;
            height: 300px; /* Set a fixed height */
            object-fit: cover; /* Maintain aspect ratio */
            
            }

            .gallery::-webkit-scrollbar{
                display: none;
            }
                .gallery-wrap{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10% auto;
                }
                
                #backBtn, #nextBtn{
                width: 50px;
                cursor: pointer;
                margin: 40px;
                }
                
                .gallery div img:hover{
                filter: grayscale(0);
                cursor: pointer;
                transform: scale(1.1);
                }
                .arr{
                    color: #ffffff;
                  
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }


                /*footer*/
.footer{
    background-color: #00986f2d;
    margin-top: 50px;
    font-size: 20px;
}
.footer .copy , .footer p{
    color: #ffffff;
    font-family:'Raleway' , sans-serif;
    font-weight: 500;
    margin-top: 20px;
}


.footer span{
    color: #29cea2;
}

.endlogo{
  width: 170px;
  height:auto;
                                                
}
.linked p{
    margin-top: 10px;
}
